---
---

<section class="comp top-of-page mntl-block">
  <a
    href="#"
    class="comp card--featured mntl-document-card mntl-card card card--no-image"
  >
    <div class="loc card__top">
      <div
        class="card__media mntl-universal-image card__media universal-image__container"
      >
        <div class="img-placeholder" style="padding-bottom: 66.6%;">
          <img
            src="/images/featured-section-image.webp"
            alt="some alt text"
            class="card__img universal-image__image lazyloaded"
          />
        </div>
      </div>
    </div>
    <div class="card__content" data-tag="Family Vacation">
      <div class="card__header"></div>
      <span class="card__title">
        <span class="card__title-text">
          22 Best Family Vacations in the U.S. That Are Perfect for Everyone —
          From Toddlers to Teens
        </span>
      </span>
      <div class="card__byline mntl-card__byline" data-byline="By Lindsay Cohn">
      </div>
      <div
        class="comp type--cat card__description mntl-block"
        data-card-description="From big cities to small towns to national parks, these family vacations in the U.S. will delight both kids and adults."
      >
      </div>
    </div>
  </a>
  <div class="comp sidebar mntl-block">
    <div
      class="comp card-list mntl-document-card-list mntl-card-list mntl-block"
    >
      {
        [1, 2, 3, 4].map((item) => (
          <a
            href="#"
            class="comp card--square-image-left mntl-card-list-items mntl-document-card mntl-card card card--no-image"
          >
            <div class="loc card__top">
              <div class="card__media mntl-universal-image card__media universal-image__container">
                <div class="img-placeholder" style="padding-bottom:65.9%;">
                  <img
                    src="/images/featured-section-rightsidebar-image.webp"
                    alt="some alt text"
                    class="card__img universal-image__image lazyloaded"
                  />
                </div>
              </div>
            </div>
            <div class="card__content" data-tag="News">
              <div class="card__header" />
              <span class="card__title">
                <span class="card__title-text">
                  22 Best Family Vacations in the U.S. That Are Perfect for
                  Everyone — From Toddlers to Teens
                </span>
              </span>
              <div
                class="card__byline mntl-card__byline"
                data-byline="By Lindsay Cohn"
              />
            </div>
          </a>
        ))
      }
    </div>
  </div>
</section>

<style>
  /* --------------- */
  /* General         */
  /* --------------- */

  a {
    color: rgba(0, 0, 0, 0.95);
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
    outline: 0;
    transition: color 0.15s ease-out;
  }

  a img {
    border-width: 0;
  }

  img {
    height: auto;
    max-width: 100%;
  }

  /* --------------- */
  /* Component       */
  /* --------------- */
  /* section class="comp top-of-page mntl-block" */
  .top-of-page {
    display: grid;
    grid-gap: 2rem;

    margin-bottom: 4rem;
  }

  @media (min-width: 50em) {
    .top-of-page {
      padding: 0 4rem;
    }
  }

  @media (min-width: 64em) {
    .top-of-page {
      grid-template-columns: auto 24.125rem;
      grid-gap: 1.5rem;
      align-items: start;
      padding: 0;
    }
  }

  /* a class="comp card--featured mntl-document-card mntl-card card card--no-image" */
  .card {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 0.7rem 1rem;
    overflow: hidden;
    width: 100%;
    background: #fff;
    cursor: pointer;
    font-weight: 700;
  }

  .card--featured {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    overflow: initial;
    padding: 0;
  }

  /* div class="loc card__top" */
  .card--featured .card__top {
    margin-bottom: 1rem;
  }

  /* div class="card__media mntl-universal-image card__media universal-image__container" */
  .card__media {
    height: 100%;
    margin-bottom: 1rem;
    order: 1;
    position: relative;
  }

  .card--featured .card__media {
    margin-right: 0;
    margin-bottom: 0;
    width: auto;
  }

  .top-of-page .card--featured .card__media {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  @media (min-width: 50em) {
    .top-of-page .card--featured .card__media {
      width: auto;
      margin: 0;
      left: auto;
      right: auto;
    }
  }

  /* div class="img-placeholder" */
  .img-placeholder {
    background-color: #c7c7c7;
    height: 0;
    overflow: hidden;
  }

  .img-placeholder {
    width: 100%;
  }

  /* img class="card__img universal-image__image lazyloaded" */

  .card__img {
    width: 100%;
    height: auto;
    max-width: none;
    display: block;
  }

  /* div class="card__content" */
  .card__content {
    flex-grow: 1;
    order: 2;
    width: 100%;
  }
  .card--featured .card__content {
    display: flex;
    flex-direction: column;
  }

  /* ::before */
  .card--featured .card__content[data-tag]::before {
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.0625rem;
    font-weight: 700;
    text-transform: uppercase;
    text-underline-offset: 0.25rem;
  }

  .card--featured .card__content[data-tag]::before {
    display: block;
    content: attr(data-tag);
    margin-bottom: 0.5rem;
    color: rgba(0, 0, 0, 0.65);
  }

  .card.card--no-image .card__content[data-tag]::before {
    display: block;
    content: attr(data-tag);
  }

  /* div class="card__header" */

  /* span class="card__title" */
  .card__title {
    box-sizing: border-box;
    margin-bottom: 0;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.2em;
  }

  .card--featured .card__title {
    order: 1;
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  /* span class="card__title-text" */

  .card--featured .card__title-text {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2.125rem;
    text-underline-offset: 0.5625rem;
  }

  .card--featured:hover .card__title-text {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.25rem;
  }

  /* div class="card__byline mntl-card__byline " */
  .card--featured .card__byline {
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-underline-offset: 0.1875rem;
  }

  .card--featured .card__byline {
    order: 3;

    color: rgba(0, 0, 0, 0.65);
  }
  /* ::after */
  .mntl-card__byline:after {
    content: attr(data-byline);
  }

  /* div class="comp type--cat card__description mntl-block" */
  .card--featured .card__description {
    font-size: 1rem;
    line-height: 1.5rem;
    text-underline-offset: 0.1875rem;

    order: 2;
    margin-bottom: 0.5rem;
    color: rgba(0, 0, 0, 0.95);
  }

  /* ::after */
  .card--featured .card__description::after {
    content: attr(data-card-description);
  }

  /* div class="comp sidebar mntl-block" */
  .sidebar {
    background: #f9f2e8;
    padding: 1rem;
  }

  @media (min-width: 34em) {
    .sidebar {
      padding: 1.5rem;
    }
  }

  /* div class="comp card-list mntl-document-card-list mntl-card-list mntl-block" */
  .mntl-card-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @supports (display: grid) {
    .mntl-card-list {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1rem;
    }
  }

  @media (min-width: 35em) {
    @supports (display: grid) {
      .mntl-card-list {
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  .card-list {
    grid-gap: 0;
    grid-template-columns: 1fr;
  }

  @media (min-width: 50em) {
    .card-list {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-gap: 1.5rem;
    }
  }

  @media (min-width: 64em) {
    .card-list {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  .sidebar .card-list {
    grid-gap: 1.5rem;
  }

  @media (min-width: 64em) {
    .sidebar .card-list {
      grid-template-columns: 1fr;
    }
  }

  /* a class="comp card--square-image-left mntl-card-list-items mntl-document-card mntl-card card card--no-image" */
  .card-list .card {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    overflow: initial;
    background: 0 0;
    padding: 0;
    border: 0;
    padding: 1rem 0;
  }

  .mntl-card-list .card {
    margin-bottom: 1rem;
    padding: 0;
  }

  @supports (display: grid) {
    .mntl-card-list .card {
      margin-bottom: 0;
    }
  }

  @media (min-width: 35em) {
    .mntl-card-list .card {
      flex: 0 1 48%;
    }
  }

  .card-list .card {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    overflow: initial;
    background: 0 0;
    padding: 0;
    border: 0;
    padding: 1rem 0;
  }

  .sidebar .card-list .card--square-image-left {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    overflow: initial;
    background: 0 0;
    padding: 0;
    border: 0;
    background: 0 0;
    padding: 0;
    border: none;
  }
  .card-list .card:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }

  .sidebar .card-list .card--square-image-left:not(:last-child) {
    border: 0;
  }

  /* div class="loc card__top" */

  /* div class="card__media mntl-universal-image card__media universal-image__container" */

  .card-list .card .card__media {
    width: 9.9375rem;
    height: auto;
    margin-right: 0.75rem;
    margin-bottom: 0;
  }

  .top-of-page .sidebar .card-list .card--square-image-left .card__media {
    width: 8rem;
    height: auto;
  }

  @media (min-width: 50em) {
    .top-of-page .sidebar .card-list .card--square-image-left .card__media {
      width: 7rem;
    }
  }

  @media (min-width: 64em) {
    .top-of-page .sidebar .card-list .card--square-image-left .card__media {
      width: 7.5rem;
    }
  }

  /* div class="image-placeholder" */

  /* img class="card__img universal-image__image lazyloaded" */
  .card-list .card--square-image-left .card__img {
    width: 9.9375rem;
    height: 6.625rem;
    filter: contrast(93%);
    -o-object-fit: cover;
    object-fit: cover;
  }

  .top-of-page .sidebar .card-list .card--square-image-left .card__img {
    width: 8rem;
    height: 5.33rem;
  }

  @media (min-width: 50em) {
    .top-of-page .sidebar .card-list .card--square-image-left .card__img {
      width: 7rem;
      height: 4.66rem;
    }
  }

  @media (min-width: 64em) {
    .top-of-page .sidebar .card-list .card--square-image-left .card__img {
      width: 7.5rem;
      height: 5rem;
    }
  }

  /* div class="card__content" */
  .card-list .card--square-image-left .card__content {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }

  /* ::before */
  .sidebar .card-list .card--square-image-left .card__content::before {
    content: "";
  }
  /* div class="card__header" */

  /* span class="card__title" */

  .card-list .card--square-image-left .card__title {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0.25rem;
    order: 1;
  }
  /* span class="card__title-text" */

  .card-list .card .card__title-text {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5rem;
    text-underline-offset: 0.3125rem;
  }

  .card-list .card .card__title-text {
    color: rgba(0, 0, 0, 0.95);
  }

  .sidebar .card-list .card--square-image-left .card__title-text {
    color: rgba(0, 0, 0, 0.95);
    text-decoration-thickness: 1px;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    -webkit-text-decoration-color: rgba(0, 0, 0, 0.95);
    text-decoration-color: rgba(0, 0, 0, 0.95);
  }

  .sidebar .card-list .card--square-image-left .card__title-text {
    font-weight: 700;
  }

  .sidebar .card-list .card--square-image-left .card__title-text {
    font-size: 1rem;
    line-height: 1.5rem;
    text-underline-offset: 0.1875rem;
  }
  .sidebar .card-list .card--square-image-left .card__title-text {
    color: rgba(0, 0, 0, 0.95);
  }

  .sidebar .card-list .card--square-image-left .card__title-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .sidebar .card-list .card--square-image-left:hover .card__title-text {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.25rem;
  }

  /* div class="card__byline mntl-card__byline " */

  .card-list .card--square-image-left .card__byline {
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-underline-offset: 0.1875rem;
    display: block;
  }
  .sidebar .card-list .card--square-image-left .card__byline {
    order: 3;
  }

  /* ::after */
  .mntl-card__byline::after {
    content: attr(data-byline);
  }
  .card-list .card .card__byline::after {
    color: rgba(0, 0, 0, 0.65);
  }
</style>
