---
import { blurryImageUrl } from "../../data/constants";

type Props = {
  title?: string;
  description?: string;
};

const {
  title = "Category",
  description = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ea quasi aperiam asperiores voluptas officia repellat placeat earum, dicta a debitis eum et doloremque reprehenderit aspernatur voluptatibus ut eaque id illum nemo repudiandae laudantium inventore? Animi maxime quae repellat dolores.",
} = Astro.props as Props;
---

<div class="comp mntl-taxonomysc-header taxonomysc-header mntl-block">
  <div class="comp mntl-taxonomysc-header__top mntl-block">
    <figure
      class="comp mntl-taxonomysc-image-wrapper primary-image--full-bleed mntl-universal-primary-image primary-image"
    >
      <div class="primary-image__media">
        <div class="img-placeholder" style="padding-bottom: 27.8%">
          <img
            src="/images/category-banner.webp"
            alt="category"
            class="primary-image__image mntl-primary-image--blurry"
            onload="(function(e){e.classList.add('loaded')})(this)"
            style={`--blurry: url(${blurryImageUrl})`}
          />
        </div>
      </div>
    </figure>
    <div class="comp mntl-taxonomysc-header-group mntl-block">
      <h1 class="comp mntl-taxonomysc-heading mntl-text-block">{title}</h1>
    </div>
  </div>
  <div class="comp mntl-taxonomysc-header__bottom mntl-block">
    <div class="comp mntl-taxonomysc-intro mntl-sc-page mntl-block">
      <p class="comp mntl-sc-block beauty-sc-block-html mntl-sc-block-html">
        {description}
      </p>
    </div>
  </div>
</div>

<style>
  /* --------------- */
  /* General         */
  /* --------------- */
  figure,
  p,
  div {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: 400;
    vertical-align: baseline;
    background: 0 0;
  }

  p {
    margin-bottom: 1.75rem;
    margin-top: 0;
  }

  img {
    max-width: 100%;
    vertical-align: bottom;
  }

  h1 {
    margin: 0 0 0.5em;
    letter-spacing: 0.5px;
    font-size: 1.875rem;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #222;
    font-weight: 400;
  }

  h1 {
    letter-spacing: 0.5px;
    color: #222;
  }
  /* --------------- */
  /* Component       */
  /* --------------- */
  /* div class="comp mntl-taxonomysc-header taxonomysc-header mntl-block" */
  .mntl-taxonomysc-header {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  .mntl-taxonomysc-header {
    margin-top: 0;
    margin-bottom: 2.75rem;
    background-color: #fff;
  }
  .mntl-taxonomysc-header {
    background-color: #fbf9f6;
  }

  /* div class="comp mntl-taxonomysc-header__top mntl-block" */
  .mntl-taxonomysc-header__top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: 35em) {
    .mntl-taxonomysc-header__top {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  .mntl-taxonomysc-header__top {
    position: relative;
    flex-direction: row;
  }

  /* figure class="comp mntl-taxonomysc-image-wrapper primary-image--full-bleed mntl-universal-primary-image primary-image" */

  .mntl-taxonomysc-image-wrapper {
    max-width: 300px;
  }

  @media (min-width: 35em) {
    .mntl-taxonomysc-image-wrapper {
      order: 1;
    }
  }

  .primary-image {
    width: 100vw;
    margin: 0 0 2rem -0.625rem;
  }

  @media (min-width: 34em) {
    .primary-image {
      width: auto;
      margin: 0 0 2rem;
    }
  }
  .primary-image--full-bleed {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-bottom: 0;
  }

  .primary-image--full-bleed.mntl-taxonomysc-image-wrapper {
    max-width: none;
  }

  /* div class="primary-image__media" */
  .primary-image__media {
    position: relative;
    margin-bottom: 0.3rem;
  }

  .primary-image--full-bleed .primary-image__media {
    margin-bottom: 0;
  }

  /* ::before */

  .mntl-taxonomysc-header
    .primary-image--full-bleed
    .primary-image__media:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    right: 0;
    z-index: 1;
    height: 30%;
    background: linear-gradient(
      0deg,
      rgba(34, 34, 34, 0.6) 0,
      rgba(34, 34, 34, 0) 100%
    );
  }

  /* div class="img-placeholder" */
  .img-placeholder {
    background-color: #c7c7c7;
    height: 0;
    overflow: hidden;
  }

  .img-placeholder {
    background-color: #c7c7c7;
    position: relative;
    width: 100%;
  }

  .img-placeholder.img-placeholder {
    background: #eee;
  }

  /* img class="primary-image__image mntl-primary-image--blurry loaded" */
  .mntl-primary-image--blurry {
    background-image: var(--blurry);
    background-size: 100% 100%;
    transition: 0.15s filter linear;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
  }

  .primary-image__image {
    width: 100%;
  }

  .mntl-primary-image--blurry.loaded {
    background-image: none;
  }

  /* div class="comp mntl-taxonomysc-header-group mntl-block" */
  @media (min-width: 35em) {
    .mntl-taxonomysc-header-group {
      padding-right: 2rem;
    }
  }

  .mntl-taxonomysc-header-group {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
  }

  .mntl-taxonomysc-header-group {
    padding: 0;
  }

  /* h2 class="comp mntl-taxonomysc-heading mntl-text-block" */
  .mntl-taxonomysc-heading {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto auto 1.875rem;
    padding: 0 1.5rem;
    max-width: 75rem;
    font-size: 3rem;
    line-height: 40px;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }

  @media (min-width: 34em) {
    .mntl-taxonomysc-heading {
      font-size: 3.75rem;
      text-align: left;
    }
  }

  .mntl-taxonomysc-heading {
    transform: none;
    font-size: 2.5rem;
    text-transform: capitalize;
    letter-spacing: 0.5px;
  }

  @media (min-width: 34em) {
    .mntl-taxonomysc-heading {
      left: 0;
      width: auto;
      font-size: 3.75rem;
    }
  }

  /* div class="comp mntl-taxonomysc-header__bottom mntl-block" */
  .mntl-taxonomysc-header__bottom {
    padding: 0.5rem;
    background-color: #efefef;
  }

  .mntl-taxonomysc-header__bottom {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1.25rem 1.5rem 1.875rem;
    width: 100%;
    text-align: center;
    background-color: unset;
  }
  @media (min-width: 34em) {
    .mntl-taxonomysc-header__bottom {
      padding-top: 2.125rem;
      padding-bottom: 2.125rem;
      text-align: left;
    }
  }

  .mntl-taxonomysc-header__bottom {
    padding: 1.25rem 0 0;
  }

  /* div class="comp mntl-taxonomysc-intro mntl-sc-page mntl-block" */
  .mntl-taxonomysc-intro {
    order: 1;
    max-width: 50rem;
  }

  .mntl-taxonomysc-intro {
    padding: 0.75rem 1.5rem 0;
    width: auto;
    max-width: none;
    text-align: left;
  }

  @media (min-width: 64em) {
    .mntl-taxonomysc-intro {
      margin: auto;
      width: 75rem;
    }
  }

  /* p class="comp mntl-sc-block beauty-sc-block-html mntl-sc-block-html" */
  .mntl-taxonomysc-intro .mntl-sc-block {
    max-width: 52.5rem;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 28px;
    color: #777;
  }

  @media (min-width: 34em) {
    .mntl-taxonomysc-intro .mntl-sc-block {
      font-size: 1rem;
      line-height: 28px;
    }
  }
</style>
