---
import type { CollectionEntry } from "astro:content";

interface Props extends Pick<CollectionEntry<"blog">["data"], "image"> {
  aspectRatio: "square" | "portrait";
}

const { image, aspectRatio } = Astro.props as Props;
---

<figure
  class="comp mntl-sc-block-image mntl-sc-block-universal-image--full-width mntl-sc-block beauty-sc-block-image mntl-sc-block-universal-image figure-portrait figure-high-res"
>
  <div class="figure-media">
    <div
      class="img-placeholder"
      style={aspectRatio === "square"
        ? "padding-bottom: 100%;"
        : "padding-bottom: 150%;"}
    >
      <img
        src={image.src}
        alt={image.alt}
        class="universal-image__image lazyloaded"
      />
    </div>
  </div>
  <figcaption class="comp mntl-figure-caption figure-article-caption">
    <span class="figure-article-caption-owner">
      <p>
        {image.alt}
      </p>
    </span>
  </figcaption>
</figure>

<style>
  /* figure class="comp mntl-sc-block-image mntl-sc-block-universal-image--full-width mntl-sc-block beauty-sc-block-image mntl-sc-block-universal-image figure-portrait figure-high-res" */

  .mntl-sc-block-image {
    overflow: hidden;
    width: 100%;
    position: relative;
    flex-direction: column;
    clear: both;
    text-align: center;
    display: flex;
    float: none;
    margin: 0 auto 1rem;
    max-width: 85%;
  }

  @media (min-width: 34em) {
    .mntl-sc-block-image {
      max-width: 70%;
    }
  }

  /* div class="figure-media" */
  .mntl-sc-block-universal-image .figure-media {
    position: relative;

    order: 1;
    max-width: 100%;
    display: block;
    margin: 0.5rem 0 0;
    max-height: none;
  }

  /* div class="img-placeholder" */

  .img-placeholder {
    height: 0;
    overflow: hidden;

    position: relative;
    width: 100%;

    background: 0 0;
  }

  /* img class="universal-image__image lazyloaded" */

  .mntl-sc-block-universal-image img {
    width: 100%;
    margin: 0;

    max-height: none;
  }

  /* figcaption class="comp mntl-figure-caption figure-article-caption" */

  .mntl-sc-block-universal-image .mntl-figure-caption.figure-article-caption {
    color: #666;

    margin: 0;
    order: 2;
    text-align: right;
    text-transform: uppercase;
    font-size: 0.625rem;
    letter-spacing: 0.5px;

    margin-top: 0.3rem;
    line-height: 1.7;
  }

  /* span class="figure-article-caption-owner" */

  /* p */
  .mntl-figure-caption p {
    color: #666;
  }
  .mntl-sc-block-universal-image .mntl-figure-caption.figure-article-caption p {
    margin: 0;
    font-size: 0.625rem;
    display: inline;
  }
</style>
