---
import { type CollectionEntry, getEntryBySlug } from "astro:content";
type Props = CollectionEntry<"blog">["data"]["article"]["outro"]["links"];

const {
  previousArticle: { slug: previousSlug },
  nextArticle: { slug: nextSlug },
} = Astro.props as Props;

const previousArticleData = await getEntryBySlug("blog", previousSlug);
const nextArticleData = await getEntryBySlug("blog", nextSlug);
---

<aside class="next-previous-nav">
  <a href={`/posts/${nextSlug}`} class="rtl animate-arrow" rel="next">
    <svg
      class="icon icon-arrow icon-arrow_right"
      xmlns="http://www.w3.org/2000/svg"
      ><path
        d="m12 2-1.762 1.762 6.975 6.988H2v2.5h15.213l-6.988 6.987L12 22l10.001-10L12 2Z"
      ></path></svg
    >
    <div class="copy">
      <div class="heading">Up Next</div>
      <div class="name">
        &quot;{nextArticleData?.data.title || "Next"}&quot;
      </div>
      <div class="subtitle">{nextArticleData?.data.subtitle || ""}</div>
    </div>
  </a>
  <a href={`/posts/${previousSlug}`} class="ltr animate-arrow" rel="prev">
    <svg
      class="icon icon-arrow icon-arrow_right reverse"
      xmlns="http://www.w3.org/2000/svg"
      ><path
        d="m12 2-1.762 1.762 6.975 6.988H2v2.5h15.213l-6.988 6.987L12 22l10.001-10L12 2Z"
      ></path></svg
    >
    <div class="copy">
      <div class="heading">Previous</div>
      <div class="name">
        &quot;{previousArticleData?.data.title || "Previous"}&quot;
      </div>
      <div class="subtitle">{previousArticleData?.data.subtitle || ""}</div>
    </div>
  </a>
</aside>

<style>
  /* aside class="next-previous-nav" */
  .next-previous-nav {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }

  /* a class="ltr" */
  a.ltr,
  a.rtl {
    border-radius: 15px;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    border: 1px solid rgb(var(--color-base-accent));
    padding: 1rem 1.25rem;
    display: flex;
    gap: 0.75rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background: none;
  }
  a.ltr {
    text-align: start;
  }
  a:active,
  a:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  }

  a:hover .name,
  a:hover .subtitle {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
  }

  /* svg class="icon icon-arrow_right" */
  .icon-arrow_right {
    width: 1.5rem;
    height: 1.5rem;
    fill: rgb(var(--color-base-accent));
  }

  .icon-arrow_right.reverse {
    transform: rotate(180deg);
  }

  /* path */
  .animate-arrow .icon-arrow path {
    transform: translate(-0.15625rem);
    transition: transform 0.1s ease;
  }

  .animate-arrow:hover .icon-arrow path {
    transform: translate(0.15625rem);
  }

  /* div class="copy" */
  .copy {
    flex-grow: 1;
  }

  /* div class="heading" */
  .heading {
    font-size: 1.15rem;
    font-weight: 700;
  }

  /* div class="name" */
  .name {
    font-size: 1.15rem;
    font-weight: bold;
    margin-top: 0.2rem;
    line-height: 1.2;
    font-style: italic;
  }

  /* div class="subtitle" */
  .subtitle {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0.2rem;
    line-height: 1.2;
  }

  /* div class="rtl" */
  a.rtl {
    text-align: end;
    flex-direction: row-reverse;
  }
</style>
