---
type Props = {
  text: string;
  link: string;
};

const { text, link } = Astro.props as Props;
---

<div
  class="comp related-link upnext-link mntl-sc-block beauty-sc-block-featuredlink mntl-sc-block-featuredlink mntl-block"
>
  <a href={link}>
    <span class="link__wrapper">
      {text}
    </span>
  </a>
</div>

<style>
  /* div class="comp article-outro mntl-block" */

  /* div class="comp upnext-link mntl-sc-block beauty-sc-block-featuredlink mntl-sc-block-featuredlink mntl-block" */

  .mntl-sc-block-featuredlink.upnext-link {
    margin-bottom: 1.75rem;
    line-height: 1.75rem;
  }

  /* ::before */
  .mntl-sc-block-featuredlink.upnext-link:before {
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 0.25rem;
  }

  .mntl-sc-block-featuredlink.upnext-link::before {
    content: "Up Next:";
  }
  .mntl-sc-block-featuredlink.upnext-link:before {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.75rem;
  }
  /* a class="mntl-sc-block-featuredlink__link mntl-text-link" */
  .mntl-sc-block-featuredlink__link {
    font-size: 1.25rem;
  }
</style>
