---
import MainLayout from "../../layouts/MainLayout.astro";
import CategoryHeader from "../../components/Categories/CategoryHeader.astro";
import CategoryBody from "../../components/Categories/CategoryBody.astro";
import { formatBlogPosts, slugify } from "../../script/utils";
import { getCollection, CollectionEntry } from "astro:content";
import categoryData from "../../data/categoryData";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");
  const formattedPosts = formatBlogPosts(allPosts, {
    filterOutDrafts: false,
  });
  const allCategories = categoryData;

  return allCategories.map((category) => {
    const categoryPosts = formattedPosts.filter((post) =>
      post.data.category.some((cat) => cat === category)
    );

    return {
      params: {
        category: slugify(category),
      },
      props: {
        name: category,
        posts: categoryPosts,
      },
    };
  });
}

interface CategoryPageProps {
  name: string;
  posts: CollectionEntry<"blog">[];
}

const { category } = Astro.params;
const { name, posts } = Astro.props as CategoryPageProps;
---

<MainLayout title={name} description={`This is the ${name} page`}>
  <section class="comp taxonomysc mntl-taxonomysc">
    <CategoryHeader />
    <CategoryBody {posts} />
  </section>
</MainLayout>

<style>
  /* section class="comp taxonomysc mntl-taxonomysc" */
  .taxonomysc {
    padding: 0;
  }
</style>
