---
import { Icon } from "astro-icon";
import MainLayout from "../layouts/MainLayout.astro";
import { settings } from "../config/settings";

const metaData = settings.meta["404"];
---

<MainLayout title={metaData.title} description={metaData.description}>
  <div class="template-404">
    <h1>404</h1>
    <p>Page not found!</p>
    <a href="/" class="btn"
      >Back to Homepage <Icon name="icon-arrow" width="20" height="20" /></a
    >
  </div>
</MainLayout>

<style>
  .template-404 {
    text-align: center;
    margin: 7rem auto;
    max-width: 1188px;
    padding: 0 1.5rem;
  }

  .btn svg {
    vertical-align: middle;
    transform: translateY(-1px);
  }
</style>
