---
import MainLayout from "../layouts/MainLayout.astro";

const isActive = true;
---

<MainLayout
  title="404 Not Found"
  description="Lorem ipsum dolor sit amet consectetur adipisicing elit"
>
  <section>
    <div class="page-width">
      <h1>404</h1>
      <p class="color-accent">Not found</p>
    </div>
  </section>
</MainLayout>
