---
import MainLayout from "@layouts/MainLayout.astro";
import { settings } from "@config/settings";

const siteData = settings["site-data"];
---

<MainLayout
  title="Contact Information"
  description={`Contact Information for ${siteData.title}`}
>
  <section>
    <div class="container page-width">
      <div class="content">
        <div class="main">
          <h1>Contact Information</h1>

          <ul>
            <li>
              Email: <a href={`mailto:${siteData["contact-email"]}`}
                >{siteData["contact-email"]}</a
              >
            </li>
            <li>Hours of Operation: [Monday-Friday: 9:00 AM - 5:00 PM PST]</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</MainLayout>

<style>
  .content {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
  }

  .main {
    margin-top: 28px;
    margin-bottom: 28px;
    padding: 35px 35px 35px 25px;
    -webkit-border-radius: 2px 6px 6px;
    border-radius: 2px 6px 6px;
    background: #fff;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25);
  }
</style>
