---
import MainLayout from "@layouts/MainLayout.astro";
import HeroBanner from "@components/HomePage/HeroBanner.astro";
import TopOfPage from "@components/HomePage/TopOfPage.astro";
import FivePost from "@components/HomePage/FivePost.astro";
import List from "@components/HomePage/List.astro";
import ThreePost from "@components/HomePage/ThreePost.astro";
import { settings } from "@config/settings";
import { getEntryBySlug } from "astro:content";

const metaData = settings.meta.index;

const post = await getEntryBySlug("blog", "twelve-labors-of-hercules-1");
---

<MainLayout title={metaData.title} description={metaData.description}>
  <article class="article--one-col-tax mntl-article">
    <div class="loc article-content">
      <HeroBanner
        title="The Twelve Labors of Hercules"
        author={post.data.author}
        description="Hercules' transformation from a flawed mortal into a revered demigod, a timeless tale of heroism and resilience."
        category={post.data.category[0]}
        link={"/categories/hercules"}
        banner={{
          src: "/images/banners/homepage-banner.webp",
          alt: "The Twelve Labors of Hercules",
        }}
      />
      <TopOfPage
        postSlugs={[
          "symbols-puzzle-box",
          "twelve-labors-of-hercules-11",
          "symbols-walled-garden",
          "myths-odin",
          "twelve-labors-of-hercules-10",
        ]}
      />
      <FivePost
        category="Hercules"
        postSlugs={[
          "twelve-labors-of-hercules-1",
          "twelve-labors-of-hercules-2",
          "twelve-labors-of-hercules-3",
          "twelve-labors-of-hercules-4",
          "twelve-labors-of-hercules-5",
        ]}
        formatOptions={{
          sort: "old-new",
        }}
      />
      <ThreePost
        category="Symbols"
        postSlugs={[
          "symbols-walled-garden",
          "symbols-the-fool",
          "symbols-ouroboros",
        ]}
      />
      <List
        postSlugs={[
          "stories-daywalker",
          "stories-bounty-hunter",
          "stories-eternals",
          "stories-the-scientist",
        ]}
      />
      <ThreePost
        category="Creatures"
        postSlugs={[
          "creatures-indrik",
          "creatures-resplendant-quetzal",
          "creatures-fairies",
        ]}
      />
    </div>
  </article>
</MainLayout>

<style>
  /* article class="comp article--one-col-tax mntl-article" */
  .mntl-article {
    padding: 0 1rem;
    display: grid;
    position: relative;
    margin: 0 auto;
    grid-template-columns: minmax(0, 76.25rem);
    grid-template-areas: "header" "post-header" "left-rail" "pre-content" "content" "post-content" "footer";
  }

  @media (min-width: 34em) {
    .mntl-article {
      padding: 0 1.5rem;
    }

    .article--one-col-tax {
      max-width: 37.5rem;
    }
  }

  @media (min-width: 50em) {
    .mntl-article {
      padding: 0 2rem;
    }

    .article--one-col-tax {
      max-width: none;
    }
  }

  /* div class="loc article-content" */
  .article-content {
    grid-area: content;
    /* overflow-x: hidden; */
  }
</style>
