---
type Props = {
  text: string;
  link?: string;
};

const { text, link = "/posts/custom-slug-post-1" } = Astro.props as Props;
---

<div class="announcement-bar color-accent">
  {
    link ? (
      <a
        href={link}
        class="announcement-bar__link link link--text focus-inset animate-arrow"
      >
        <div class="page-width">
          <p class="announcement-bar__message center h5">
            <span>{text}</span>
            <svg
              viewBox="0 0 14 10"
              fill="none"
              aria-hidden="true"
              focusable="false"
              class="icon icon-arrow"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z"
                fill="currentColor"
              />
            </svg>
          </p>
        </div>
      </a>
    ) : (
      <div class="page-width">
        <p class="announcement-bar__message center h5">
          <span>{text}</span>
        </p>
      </div>
    )
  }
</div>

<style>
  /* div class="announcement-bar color-accent" */
  .announcement-bar {
    border-bottom: 0.0625rem solid rgba(var(--color-foreground), 0.08);
    color: rgb(var(--color-foreground));
  }

  /* a class="announcement-bar__link link link--text focus-inset animate-arrow" */
  .announcement-bar__link {
    display: block;
    width: 100%;
    padding: 0.625rem 0;
    text-decoration: none;
  }

  .announcement-bar__link:hover {
    text-decoration: underline;
  }

  /* div class="page-width" */

  /* p class="announcement-bar__message center h5" */
  .center {
    text-align: center;
  }

  .announcement-bar__message {
    padding: 0.625rem 0;
    margin: 0;
    letter-spacing: 0.0625rem;
  }

  p.announcement-bar__message {
    font-weight: 400;
  }

  .announcement-bar__link .announcement-bar__message {
    padding: 0;
  }

  /* span */

  .icon-arrow {
    width: 0.9375rem;
  }

  /* svg class=""icon icon-arrow" */
  .announcement-bar__link .icon-arrow {
    display: inline-block;
    pointer-events: none;
    margin-left: 0.5rem;
    vertical-align: middle;
    margin-bottom: 0.125rem;
  }

  /* path */
  .animate-arrow .icon-arrow path {
    transform: translate(-0.15625rem);
    transition: transform 0.1s ease;
  }

  .animate-arrow:hover .icon-arrow path {
    transform: translate(-0rem);
  }
</style>
