---
import navData from "../data/navData";
import { Icon } from "astro-icon";
import HeaderDrawer from "./HeaderDrawer.astro";
---

<header class="section-header">
  <div class="header-container">
    <HeaderDrawer />
    <div class="logo h0">Logo</div>
    <div class="header-container__signature">
      <p>88 years of expert advice and inspiration, for everyone</p>
      <ul class="social-list list-unstyled">
        <li>
          <a href="" class="link">
            <Icon name="mdi:instagram" width="25" height="25" />
          </a>
        </li>
        <li>
          <a href="" class="link">
            <Icon name="mdi:facebook" width="25" height="25" />
          </a>
        </li>
        <li>
          <a href="" class="link">
            <Icon name="mdi:twitter" width="25" height="25" />
          </a>
        </li>
      </ul>
    </div>
  </div>
  <nav id="main-header-nav">
    <ul class="nav-list list-unstyled">
      {
        navData.map((navItem) => (
          <li class="nav-list__item">
            <a href={navItem.path} class="link link--text" data-navLink>
              {navItem.name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0.9375rem;
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.1);
    position: relative;
    min-height: 4.0625rem;
    z-index: 4;
  }

  .header-container {
    width: 100%;
    display: flex;
    justify-content: left;
  }

  .header-container .logo {
    font-weight: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media screen and (min-width: 750px) {
    header {
      min-height: 5.3125rem;
    }
  }

  @media screen and (min-width: 990px) {
    .header-container .logo {
      position: unset;
      transform: translate(0, 0);
    }

    .header-container {
      justify-content: space-between;
    }
  }

  .header-container__signature {
    font-size: 0.78125rem;
    text-align: right;
    display: none;
  }

  .social-list {
    display: flex;
    gap: 0.9375rem;
  }

  .nav-list {
    display: none;
    gap: 0.9375rem;
  }

  @media screen and (min-width: 990px) {
    .nav-list {
      display: flex;
    }
  }

  .social-list svg:hover {
    color: #efa8a8;
  }

  @media screen and (min-width: 990px) {
    header {
      padding: 0.625rem 3.125rem;
    }

    .header-container__signature {
      display: block;
    }
  }
</style>

<script>
  import "../script/nav.js";
</script>
