---
---

<div class="loc article-right-rail">Right Rail</div>

<style>
  /* div class="loc article-right-rail" */

  .article-right-rail {
    grid-area: right-rail;
    position: absolute;
    top: -10000in;
    visibility: hidden;
    max-height: 0;
  }

  @media screen and (min-width: 750px) {
    .article-right-rail {
      position: static;
      visibility: visible;
      max-height: initial;
    }
  }
</style>
